@import "bootstrap";
@import "font-awesome";
body{
  background: image_url('floor-tile.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
.booyah-box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit: 1px 1px 2px 0 #d0d0d0;
  box-shaddow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
.navbar{
  background: image_url('memphis-mini-dark.png');
  box-shadow: 3px 4px 4px #888888;
}
.navbar-inverse, .navbar-brand {font-family: 'kaushan_scriptregular';
  font-family: 'kaushan_scriptregular';
  color: #74808B;
  font-size: 26px;
}

.pagination {
  cursor: default;
  height: 5px;

  }
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: center;
    margin-right: 1px;
    font-weight: bolder;
  }
  .fa.fa-navicon {
  color: #74808B;
}
.pbackground {
  background-color: #D0D3D4;
  border-top: 2px solid grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  opacity: .8;
}
::selection {
  color: navy;
  background-color: #e8e8e8;
}
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  border: 1px solid #e8e8e8;
  margin: 3px;
  font-weight: bold;
}
.white {
  color: white;
}
.white:hover, white:focus {
  color: #e8e8e8;
  text-decoration: none;
} 
html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height:300px;
    }
  .clear {
  clear: both;
  }
  blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
.row {
  width: 100%;
}

.caption img {
  max-width: 90%;
  box-shadow: 1px 2px #888888;
  border-radius: 5%;
  border: 1px solid #D0D3D4;
  }
.caption {
  text-align: center;
}
.front img {
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 15px;
}
